.nav-div-2 {
  margin-top: 30px;
}

.nav-bar ul li a {
  margin-right: 150px;
}

.nav-img {
  width: 100px;
  margin-left: 200px;
  margin-right: 100px;
}

.w-200px {
  width: 200px;
}

.w-750px {
  width: 750px;
}
